* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.todoAdd form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    margin-top: 60px;
}